beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
decorator==5.0.9
et-xmlfile==1.1.0
funcsigs==1.0.2
idna==2.10
lxml==4.6.3
openpyxl==3.0.7
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
tqdm==4.60.0
urllib3==1.26.4
xlrd==2.0.1
XlsxWriter==1.4.3
